<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Dashboard | Register</title>
		<link rel='stylesheet' href='/build.css' />
	</head>
	<body class='min-h-screen bg-indigo-950 flex justify-center items-center'>
		<form method='post' class='bg-indigo-100 flex flex-col gap-4 p-8 rounded-lg shadow-2xl shadow-black max-w-xs w-full'>
			<div class='mb-4'>
				<h1 class='text-xl font-bold'>Register Account</h1>
				<p>On one click create website</p>
			</div>
			<input type='email' required name='email' class='border rounded px-2 py-1' placeholder='Email id' />
			<input type='password' required name='password' class='border rounded px-2 py-1' placeholder='Password' />
			<div class='flex flex-col'>
				<input type='submit' value='Login' class='border rounded px-2 py-1 bg-indigo-500 text-white hover:bg-indigo-600 transition-all' />
				<div>
					Already have an account?
					<a class='hover:text-blue-500 transition-all' href='/'>Login</a>
				</div>
			</div>
		</form>
	</body>
</html>